<section id="menu">
    <smartish-logo></smartish-logo>

    <smartish-avatar></smartish-avatar>

    <h3>Menu</h3>
    <hr />

    <mat-list>
        <mat-list-item>
          <a routerLink="/catalog">
           <mat-icon>local_offer</mat-icon>
           <span class="menu-link">Catalog</span>
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a routerLink="/orders">
            <mat-icon>move_to_inbox</mat-icon>
            <span class="menu-link">Orders</span>
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a routerLink="customers">
            <mat-icon>people</mat-icon>
            <span class="menu-link">Customers</span>
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a routerLink="billing">
            <mat-icon>money</mat-icon>
            <span class="menu-link">Billing</span>
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a routerLink="shipping">
            <mat-icon>local_shipping</mat-icon>
            <span class="menu-link">Shipping</span>
          </a>
        </mat-list-item>
      </mat-list>

</section>