button {
  margin: 0 1rem 0 0;
}

button.save {
  background-color: #63923b !important;
  margin: 1rem 0;
}

mat-icon {
  float: right;
}

mat-form-field {
  width: 100%;
}

form {
  padding: 2rem;
}

mat-form-field {
  width: 100%;
}
